*{
    margin: 0;
    padding: 0;
    width: 100%
}
h1 {
    text-align: center;
    background-color: coral;
    font-size: 3rem;
    font-weight: bolder;
}
a ul {
    text-decoration: none;
}
 a li {
    text-decoration: none;
}
a ul li {
    text-decoration: none;
}

.card {
    border: black 3px solid;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    background-color: lightgoldenrodyellow;
}
#myTeam {
    text-align: center;
    background-color: coral;
    font-size: 3rem;
    font-weight: bolder;
    color: white;

}
body{
    background-color: cornflowerblue;
}
